services:

  # Redis
  redis:
    image: redis:latest
    container_name: default-redis
    command: redis-server --requirepass "${REDIS_PASSWORD:-123123}" --databases 20
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - default
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 30s

  # Kafka (KRaft Mode)
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: default-kafka
    network_mode: host
    environment:
      CLUSTER_ID: "${KAFKA_CLUSTER_ID:-b28ea04f9004080a4a34207b23292d3}"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@localhost:9093"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
    volumes:
      - kafka_data:/var/lib/kafka/data
    restart: unless-stopped

# Data Volumes Define
volumes:
  redis_data:
  kafka_data:
